<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JamesdlC</title>

    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/styles/portfolio-styles.css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body class="main-body container-fluid">

    <div class="nav-bar">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a class="" data-method="get" href="http://www.jamesdlc.com">Home</a></li>
            <li><a class="" href="#index-page">About</a></li>
            <li><a class="" href="#applications-page">Applications</a></li>
            <li><a class="" href="#contact-page">Contact Me</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="#">James dlC</a></li>
          </ul>
        </div>
      </nav>

    <div class="mobility-test index-page">
      <div class="about-page col-md-12 container">
        <a class="jump-anchor" name="index-page">
        </a>
        <div class="about-content">
          <h1>Hello World!</h1>
          <p>My name is James de la Cruz.  I'm a Full Stack Web Developer based out of Milpitas, CA.  I have a passion for building, trouble-shooting, and working with teams.</p>
        </div>
      </div>
    </div>

    <div class="mobility-test about-page">
      <div class="about-page col-md-12">
        <div class="skills">
          <div class="favorite-tech">
            <h3>These are some of my favorite technologies</h3>
            <table class="skills-table">
              <tr>
                <td><img class="tech-logo" src="/public/images/rubyonrails.png"></td>
                <td><img class="tech-logo" src="/public/images/javascript.png"></td>
                <td><img class="tech-logo" src="/public/images/c++.png"></td>
                <td><img class="tech-logo" src="/public/images/angular.png"></td>
                <td><img class="tech-logo" src="/public/images/github.png"></td>
              </tr>
            </table>
          </div>
          <div class="other-tech">
            <h3>More technologies I enjoy working with</h3>
            <table class="skills-table">
              <tr>
                <td><img class="tech-logo" src="/public/images/html5.png"></td>
                <td><img class="tech-logo" src="/public/images/css3.png"></td>
                <td><img class="tech-logo" src="/public/images/jquery.png"></td>
                <td><img class="tech-logo" src="/public/images/mongodb.png"></td>
                <td><img class="tech-logo" src="/public/images/postgresql.png"></td>
                <td><img class="tech-logo" src="/public/images/expressjs.png"></td>
                <td><img class="tech-logo" src="/public/images/nodejs.png"></td>
              </tr>
              <tr>
                <td><img class="tech-logo" src="/public/images/heroku.png"></td>
                <td><img class="tech-logo" src="/public/images/trello.png"></td>
                <td><img class="tech-logo" src="/public/images/balsamiq.png"></td>
                <td><img class="tech-logo" src="/public/images/photoshop.png"></td>
                <td><img class="tech-logo" src="/public/images/illustrator.png"></td>
                <td><img class="tech-logo" src="/public/images/bootstrap.png"></td>
                <td><img class="tech-logo" src="/public/images/materialize.png"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="mobility-test applications-page">
      <a name="applications-page"></a>
      <div class="applications-page col-md-12 col-sm-12 col-xs-12">
        <div class="app-image-row">
          <div class="app-image col-md-3 col-sm-12 col-xs-12">
            <img class="app-image" src="/public/images/ga.png">
          </div>
          <div class="app-body col-md-6 col-sm-12 col-xs-12">
            <h3>General Assembláge</h3>
            <p>
              General Assembláge is a social networking tool that connects General Assembly alumni across all immersive courses and all General Assembly locations to facilitate learning and to foster collaboration. This is a full stack Ruby on Rails application deployed on Heroku's Cloud Application Platform implementing a plethora of technologies.<br>
              <a href="https://github.com/mattericbrown/general-assemblage">GitHub</a> / <a href="https://general-assemblage.herokuapp.com/">Launch General Assembláge</a>
            </p>
          </div>
          <div class="tech-used-list col-md-2 col-sm-12 col-xs-12">
            <h3>Technologies Used</h3>
            <ul>
              <li>Ruby on Rails</li>
              <li>JavaScript</li>
              <li>HTML/CSS</li>
              <li>jQuery</li>
              <li>PostgreSQL</li>
              <li>Materialize</li>
              <li>Heroku</li>
              <li>Ransack</li>
              <li>will_paginate</li>
              <li>bcrypt</li>
            </ul>
          </div>
        </div>
        <div class="app-image-row">
          <div class="app-image col-md-3 col-sm-12 col-xs-12">
            <img class="app-image" src="/public/images/whowouldwin.png">
          </div>
          <div class="app-body col-md-6 col-sm-12 col-xs-12">
            <h3>Who Would Win?</h3>
            <p>
              A sports app that returns a simulated outcome between matchups and can potentially predict results for upcoming matchups. Built in forum-style discussion board, “Smack Talk”. <br>
              <a href="https://github.com/jamesdlc/whowouldwin">GitHub</a> / <a href="https://realwhowouldwin.herokuapp.com/">Launch Who Would Win?</a>
            </p>
          </div>
          <div class="tech-used-list col-md-2 col-sm-12 col-xs-12">
            <h3>Technologies Used</h3>
            <ul>
              <li>Ruby on Rails</li>
              <li>Bootstrap</li>
              <li>PostgreSQL</li>
              <li>Sass</li>
              <li>Heroku</li>
              <li>bCrypt</li>
              <li>Ransack</li>
            </ul>
          </div>
        </div>
        <div class="app-image-row">
          <div class="app-image col-md-3 col-sm-12 col-xs-12">
            <img class="app-image" src="/public/images/soundfinder.png">
          </div>
          <div class="app-body col-md-6 col-sm-12 col-xs-12">
            <h3>Sound Finder</h3>
            <p>
              Search for you favorite artist and Sound Finder will suggest 20 different similar sounding artists.  Click on the "Listen On Spotify" button to listen to the recommendation your Spotify App! <br>
              <a href="https://github.com/jamesdlc/SoundFinder">GitHub</a> / <a href="https://sound-finder.herokuapp.com/">Launch Sound Finder</a>
            </p>
          </div>
          <div class="tech-used-list col-md-2 col-sm-12 col-xs-12">
            <h3>Technologies Used</h3>
            <ul>
              <li>AngularJS</li>
              <li>HTML/CSS</li>
              <li>BootStrap</li>
              <li>Spotify API</i>
            </ul>
          </div>
        </div>
        <div class="app-image-row">
          <div class="app-image col-md-3 col-sm-12 col-xs-12">
            <img class="app-image" src="/public/images/nomad.png">
          </div>
          <div class="app-body col-md-6 col-sm-12 col-xs-12">
            <h3>Nomad</h3>
            <p>
              Nomad is a crowdsourced travel community app / travel guide where users can post advice and tips about their favorite cities.  <br>
              <a href="https://github.com/sophn11/nomad">GitHub</a> / <a href="https://nomad30.herokuapp.com/">Launch Nomad</a>
            </p>
          </div>
          <div class="tech-used-list col-md-2 col-sm-12 col-xs-12">
            <h3>Technologies Used</h3>
            <ul>
              <li>Ruby on Rails</li>
              <li>PostgreSQL</li>
              <li>Sass</li>
              <li>Materialize</li>
              <li>HTML</li>
              <li>bcrypt</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="mobility-test contact-page">
      <a name="contact-page"></a>
      <div class="contact-page col-md-12">
        <div class="contact-body">
          <h1>Contact Information</h1>
          <a target="_blank" href="https://www.linkedin.com/in/jamesdelacruz"><img class="glyph-icons" src="/public/images/linkedin.png"></a>
          <a target="_blank" href="https://github.com/jamesdlc"><img class="glyph-icons" src="/public/images/githubflav.png"></a>
          <a href="mailto:james@jamesdlc.com?Subject=Hello%20James!" target="_top"><img class="glyph-icons" src="/public/images/email.png"></a>
        </div>
      </div>
    </div>

  </body>
</html>
