.navbar-inverse {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

html {
  /*background-color: blue;*/
  /*sanity check!*/
}

.main-body {
  font-family: 'Ropa Sans', sans-serif;
}

.about-content {
  font-size: 25px;
  text-align: center;
}

.tech-logo{
  padding-left: 15px;
  padding-top: 15px;
}

.skills-table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.favorite-tech {
  text-align: center;
}

.other-tech {
  text-align: center;
}

.applications-page {
  position: relative;
}

.app-image {
  height: 200px;
  width: 300px;
  margin-left: 40px;
  border-radius: 7px;
}

.app-image-row {
  position: relative;
  height: 250px;
  margin-top: 30px;
}

.app-body {
  position:relative;
}

.contact-page {
  text-align: center;
  margin-top: 50px;
}

.glyph-icons {
  margin-left: 8px;
  margin-right: 8px;
  height: 150px;
  width: 150px;
}

.contact-prompt {
  text-align: center;
}




/*iPhone < 5:*/
/*@media screen and (device-aspect-ratio: 2/3) {
  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image {
    height: 150px;
    width: 250px;
    border-radius: 7px;
  }

  .app-image-row {
    position: relative;
    }

  .tech-used-list h3 {
    text-align: center;
  }
}*/

/*iPhone 5:*/
/*@media screen and (device-aspect-ratio: 40/71) {
  .app-body {
    position:relative !important;
    text-align: center !important;
  }

  .app-image {
    height: 150px !important;
    width: 250px !important;
    border-radius: 7px !important;
  }

  .app-image-row {
    position: relative !important;
    }

  .tech-used-list h3 {
    text-align: center !important;
  }
}*/

/*iPhone 6:*/
/*@media screen and (device-aspect-ratio: 375/667) {
  h3 {
    font-size: 50px !important;
  }
  .main-body {
    font-size: 20px;
  }

  .app-body {
    position:relative !important;
    text-align: center !important;
  }

  .app-image {
    height: 400px !important;
    width: 600px !important;
    border-radius: 7px !important;
    margin-left: 80px;
  }

  .app-image-row {
    margin-bottom: 600px !important;
    position: relative !important;
  }

  .tech-used-list h3 {
    text-align: center !important;
  }
}*/

/*iPhone 6 Plus:*/
/*@media screen and (device-aspect-ratio: 16/9) {
  .app-body {
    position:relative !important;
    text-align: center !important;
  }

  .app-image {
    height: 150px !important;
    width: 250px !important;
    border-radius: 7px !important;
  }

  .app-image-row {
    position: relative !important;
    }

  .tech-used-list h3 {
    text-align: center !important;
  }
}*/
/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {
  h3 {
    font-size: 50px !important;
  }
  .main-body {
    font-size: 30px;
  }

  .app-body {
    position:relative !important;
    text-align: center !important;
  }

  .app-image {
    height: 400px !important;
    width: 600px !important;
    border-radius: 7px !important;
    margin-left: 80px;
  }

  .app-image-row {
    margin-bottom: 600px !important;
    position: relative !important;
  }

  .tech-used-list h3 {
    text-align: center !important;
  }
}
