.navbar-inverse {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

#fixed {
    position:fixed;
    z-index: 1;
    margin-top: -100px;
}

html {
  /*background-color: blue;*/
  /*sanity check!*/
}

.mobility-test {
  overflow-x: hidden;
}
.main-body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}

.about-content {
  text-align: center;
}

.tech-logo{
  padding-left: 15px;
  padding-top: 15px;
}

.skills-table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.favorite-tech {
  text-align: center;
}

.other-tech {
  text-align: center;
}

.navbar-brand {
  margin-right: 10px;
}

.applications-page {
  position: relative;
}

.app-image {
  height: 200px;
  width: 300px;
  border-radius: 7px;
}

.app-image-container {
  perspective: 700;
}

.app-image-wrapper {
  position: relative;
  height: 200px;
  width: 300px;
  margin-left: 40px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.app-image-wrapper:hover {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
}

.front{
  height: 200px;
  width: 300px;
}
.back {
  height: 200px;
  width: 300px;
  transform: rotateY(180deg);
}

.app-row {
  margin-top: 30px;
}

.app-body {
  position:relative;
}

.contact-page {
  text-align: center;
  margin-top: 50px;
}

.glyph-icons {
  margin-left: 8px;
  margin-right: 8px;
  height: 100px;
  width: 100px;
}

.contact-prompt {
  text-align: center;
}

.index-page{
  margin-top: 100px;
}
.about-page{
}
.applications-page{
  margin-top: 200px;
}
.contact-page {
  margin-top: 150px;
  margin-bottom: 300px;
}

.tech-used-list {
  font-weight: bolder;
  margin-bottom: 3px;
}

/*iPhone 5 portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  h3, h1 {
    font-size: 60px !important;
  }

  .main-body, .about-content {
    font-size: 30px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 400px;
    width: 600px;
    margin-left: 160px;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 400px;
    width: 600px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 400px;
    width: 600px;
  }

  .back {
    height: 400px;
    width: 600px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
    margin-top: 30px;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPhone 5 landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 210px;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
    margin-top: 50px;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPhone 6 portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  h3, h1 {
    font-size: 60px !important;
  }

  .main-body, .about-content {
    font-size: 30px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 400px;
    width: 600px;
    margin-left: 155px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 400px;
    width: 600px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 400px;
    width: 600px;
  }

  .back {
    height: 400px;
    width: 600px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPhone 6 landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 210px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
    margin-top: 50px;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPhone 6+ portrait*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
  h3, h1 {
    font-size: 60px !important;
  }

  .main-body, .about-content {
    font-size: 30px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 400px;
    width: 600px;
    margin-left: 160px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 400px;
    width: 600px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 400px;
    width: 600px;
  }

  .back {
    height: 400px;
    width: 600px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPhone 6+ landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 210px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
    backface-visibility: hidden;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
    margin-top: 50px;
  }

  .tech-used-list {
    text-align: center;
  }
}

/*iPad portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  h3, h1 {
    font-size: 60px !important;
  }

  .main-body, .about-content {
    font-size: 30px !important;
  }

  .app-body {
    position:relative;
    text-align: center;
  }

  .app-image-wrapper {
    height: 400px;
    width: 600px;
    margin-left: 160px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }


  .app-image {
    position:relative;
    height: 400px;
    width: 600px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
  }

  .front{
    height: 400px;
    width: 600px;
  }

  .back {
    height: 400px;
    width: 600px;
    transform: rotateY(180deg);
  }

  .app-image-row {
    position: relative;
  }

  .tech-used-list {
    text-align: center;
  }
}
/*iPad mini landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 230px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-row {
    position: relative;
    margin-top: 50px;
  }
}

/*iPad landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1) {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 230px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-row {
    position: relative;
    margin-top: 50px;
  }
}

/*iPad retina landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
  h3, h1 {
    font-size: 40px !important;
  }
  .main-body {
    font-size: 20px !important;
    text-align: center;
  }

  .app-image-wrapper {
    height: 200px;
    width: 500px;
    margin-left: 230px;
    position: relative;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }

  .app-image-container {
    perspective: 700;
  }

  .app-image {
    position:relative;
    height: 200px;
    width: 500px;
    border-radius: 7px;
  }

  .front, .back {
    position: absolute;
  }

  .front{
    height: 200px;
    width: 500px;
  }

  .back {
    height: 200px;
    width: 500px;
    transform: rotateY(180deg);
  }

  .app-row {
    position: relative;
    margin-top: 50px;
  }
}
