<h1 class="header">About Me</h1>
  <img class="dlc" src="../public/images/james.jpg">
  <p>I'm James de la Cruz.</p>
<h3 class="header">Toolbelt</h3> 
<div class="row">
  <img class="skill-icon" src="../public/images/mongodb.png">
  <img class="skill-icon" src="../public/images/expressjs.png">
  <img class="skill-icon" src="../public/images/angular.png">
  <img class="skill-icon" src="../public/images/nodejs.png">
  <img class="skill-icon" src="../public/images/rubyonrails.png">
  <img class="skill-icon" src="../public/images/postgresql.png">
  <img class="skill-icon" src="../public/images/jquery.png">
</div>
<div class="row">
  <img class="skill-icon" src="../public/images/html5.png">
  <img class="skill-icon" src="../public/images/css3.png">
  <img class="skill-icon" src="../public/images/github.png">
  <img class="skill-icon" src="../public/images/materialize.png">
  <img class="skill-icon" src="../public/images/bootstrap.png">
  <img class="skill-icon" src="../public/images/heroku.png">
  <img class="skill-icon" src="../public/images/photoshop.png">
</div>
<div class="row">
  <h3 class="header">Currently Learning</h3>
  <p class="header">(Updated 1/24/17)</p>
  <img class="skill-icon" src="../public/images/react.png">
  <img class="skill-icon" src="../public/images/java.png">
</div>
