<h1 class="header">About</h1>
<div class="row">
<div class="col-md-12">
  <img class="dlc" src="../public/images/james.jpg">
</div>
  <div class="col-md-8 col-md-offset-2 about-text">
    <p>I realized early that I have a love for working with technology. When I was in 6th grade, my pops gave me a book called "Building and Assembling a Pentium Computer". It taught me a lot of good stuff like phoenix beep codes, how to install Windows 95 through the DOS Command Line, and really how a computer works from the inside out.  I spent countless hours re-imaging and building computers for people. I would always run into several errors during setup but firing up a finished build was so satisfying. For some reason, the challenge of troubleshooting was always fun to me.
      <p>
    I have an in depth background in manufacturing and IT.  I think my experiences make me an ideal developer. Manufacturing taught me how to make things and working in IT taught me how to diagnose, isolate, and resolve issues.</p>
  </div>
</div>
<h3 class="header">Toolbelt</h3> 
<div class="row">
  <img class="skill-icon" src="../public/images/mongodb.png">
  <img class="skill-icon" src="../public/images/expressjs.png">
  <img class="skill-icon" src="../public/images/angular.png">
  <img class="skill-icon" src="../public/images/nodejs.png">
  <img class="skill-icon" src="../public/images/rubyonrails.png">
  <img class="skill-icon" src="../public/images/postgresql.png">
  <img class="skill-icon" src="../public/images/jquery.png">
</div>
<div class="row">
  <img class="skill-icon" src="../public/images/html5.png">
  <img class="skill-icon" src="../public/images/css3.png">
  <img class="skill-icon" src="../public/images/github.png">
  <img class="skill-icon" src="../public/images/materialize.png">
  <img class="skill-icon" src="../public/images/bootstrap.png">
  <img class="skill-icon" src="../public/images/heroku.png">
  <img class="skill-icon" src="../public/images/photoshop.png">
</div>
<div class="row">
  <h3 class="header">Currently Learning</h3>
  <p class="header">(Updated 1/24/17)</p>
  <img class="skill-icon" src="../public/images/react.png">
  <img class="skill-icon" src="../public/images/java.png">
</div>
