

<h1 class="header">Applications</h1>
<div class="row">
  <img class="app-image" src="/public/images/SoundFinderSearch.jpg">
  <img class="app-image" src="/public/images/SoundFinderResult.jpg"> <br />
  <h3 class="header">SoundFinder</h3>
  <div class="col-md-12 app-buttons">
    <a href="https://github.com/jamesdlc/SoundFinder" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
    <a href="https://sound-finder.herokuapp.com/" target="_blank"><button><i class="fa fa-window-maximize" aria-hidden="true"></i> Heroku</button></a>
  </div>
  <div class="app-description col-md-6 col-md-offset-3">
    <p>Search for you favorite artist and Sound Finder will suggest 20 different similar sounding artists.  Click on the "Listen On Spotify" button to listen to the recommendation on your Spotify App!</p>
  </div>
  <div class="col-md-12">
    <h4 class="header">Tech</h4>
    <p>Angular /  Node / Express / BootStrap / Spotify API</p>
  </div>
</div>
<hr>
<div class="row">
  <img class="app-image" src="/public/images/GALanding.jpg">
  <img class="app-image" src="/public/images/GALogin.jpg"> <br />
  <h3 class="header">General Assembláge</h3>
  <div class="col-md-12 app-buttons">
    <a href="https://github.com/mattericbrown/general-assemblage" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
    <a href="https://general-assemblage.herokuapp.com/" target="_blank"><button><i class="fa fa-window-maximize" aria-hidden="true"></i> Heroku</button></a> <br>
    <p>username: student@ga.com <br>
       password: assemble</p>
  </div>
  <div class="app-description col-md-6 col-md-offset-3">
    <p>General Assembláge is a social networking tool that connects General Assembly alumni across all immersive courses and all General Assembly locations to facilitate learning and to foster collaboration.</p>
  </div>
  <div class="col-md-12">
    <h4 class="header">Tech</h4>
    <p>Ruby on Rails / PostgreSQL / Materialize / Ransack / will_paginate / bCrypt</p>
  </div>
</div>
<hr>
<div class="row">
  <img class="app-image" src="/public/images/ReactWeather.jpg">
  <img class="app-image" src="/public/images/ReactWeatherSearch.jpg"> <br />
  <h3 class="header">Get Weather</h3>
  <div class="col-md-12 app-buttons">
    <a href="https://github.com/jamesdlc/GetWeather" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
    <a href="http://pure-plateau-38043.herokuapp.com/" target="_blank"><button><i class="fa fa-window-maximize" aria-hidden="true"></i> Heroku</button></a> <br>
  </div>
  <div class="app-description col-md-6 col-md-offset-3">
    <p>A simple weather app.  Search weather data by city.  Weather data comes from Open Weather API.</p>
  </div>
  <div class="col-md-12">
    <h4 class="header">Tech</h4>
    <p> React / Express / Node / Foundation / Sass / Open Weather API</p>
  </div>
</div>
<hr>
<div class="row">
  <img class="app-image" src="/public/images/WhoWouldWinSim.jpg">
  <img class="app-image" src="/public/images/WhoWouldWinResult.jpg"> <br />
  <h3 class="header">Who Would Win</h3>
  <div class="col-md-12 app-buttons">
    <a href="https://github.com/jamesdlc/whowouldwin" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
    <a href="https://realwhowouldwin.herokuapp.com/" target="_blank"><button><i class="fa fa-window-maximize" aria-hidden="true"></i> Heroku</button></a> <br>
    <p>username: guest@guest.com <br>
       password: guest</p>
  </div>
  <div class="app-description col-md-6 col-md-offset-3">
    <p>A sports statistics app that returns a simulated outcome between matchups and can potentially predict results for upcoming matchups. Built in forum-style discussion board, “Smack Talk”</p>
  </div>
  <div class="col-md-12">
    <h4 class="header">Tech</h4>
    <p>Ruby on Rails / PostgreSQL / Bootstrap /  bCrypt</p>
  </div>
</div>
<hr>
<div class="row">
  <img class="app-image" src="/public/images/NomadIndex.jpg">
  <img class="app-image" src="/public/images/NomadShow.jpg"> <br />
  <h3 class="header">Nomad</h3>
  <div class="col-md-12 app-buttons">
    <a href="https://github.com/sophn11/nomad" target="_blank"><button><i class="fa fa-github" aria-hidden="true"></i> GitHub</button></a>
    <a href="https://nomad30.herokuapp.com/" target="_blank"><button><i class="fa fa-window-maximize" aria-hidden="true"></i> Heroku</button></a> <br>
    <p>username: guest@guest.com <br>
       password: guest</p>
  </div>
  <div class="app-description col-md-6 col-md-offset-3">
    <p>Nomad is a crowdsourced travel community app / travel guide where users can post advice and tips about their favorite cities.</p>
  </div>
  <div class="col-md-12">
    <h4 class="header">Tech</h4>
    <p>Ruby on Rails / PostgreSQL / Sass / Materialize  / bCrypt</p>
  </div>
</div>
