<h1 class="header">Resume</h1>
<button><a href="public/documents/JamesdelaCruzResumeWorking.pdf" target="_blank">Click to download PDF version</a></button>
<div class="resume-container col-md-8 col-md-offset-2">
  <table class="resume-table">
    <tr class="resume-row">
      <span class="resume-title">James de la Cruz</span><br />
      Full Stack Web Developer <br />
      Milpitas, CA <br />
      (408) 806 - 5618 - <a target="_blank" href="https://www.linkedin.com/in/jamesdelacruz"><i class="fa fa-linkedin" aria-hidden="true"></i>
       LinkedIn</a> - <a target="_blank" href="https://github.com/jamesdlc"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a> - <a href="mailto:james@jamesdlc.com?Subject=Hey%20James!" target="_top"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> E-mail</a><br />
    </tr>
    <tr class="resume-row">
      <td width="17%"><span class="resume-title">Tech Experience</span></td>
      <td width="83%"><span class="resume-title">WEB DEVELOPER: RFP Hub (San Francisco, CA), Sept’ 16 – present</span> <br />
      Working on a development team to create a SaaS platform where users can collaboratively generate
      Request For Proposal documents. Team utilized agile development methods with monthly sprints
      and semi-weekly scrums. <br />
      - Implemented user authentication, authorization, and resource management (CRUD). <br />
      - Created Rspec testing suite for four different models. <br />
      - Technologies: HTML5, CSS3, JavaScript, Ruby on Rails, PostgreSQL, AWS. <br />
      <p />
      <span class="resume-title">WEB DEVELOPER IN TRAINING: General Assembly (San Francisco, CA), Jun’ 16 – Sept’ 16</span> <br />
      Successfully completed a 12-week Web Development Immersive program (60+hours/week),
      focused on MEAN Stack, Ruby on Rails, and Computer Science basics. Managed development of apps
      from wire framing to Heroku deployment on teams and independently.
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">Applications</span><br />(more at my GitHub)</td>
      <td>
        <span class="resume-title">SOUND FINDER </span> <br />
        Single page app linked up to Spotify’s API that helps recommends artists to the user based on their
        favorite artists. <br />
        Technologies: Angular, HTML5, CSS3, Node, Bootstrap. <br />
        <span class="resume-title">WHO WOULD WIN?  </span> <br />
        Sports statistics app that returns a simulated outcome of a matchup between two teams. The
        outcome is based on algorithm I wrote. I also built a forum where sports fanatics can talk trash. <br />
        Technologies: Ruby on Rails, PostgreSQL, HTML5, CSS3, Bootstrap. <br />
        <span class="resume-title">GET WEATHER </span> <br />
        Simple single page app that returns weather data based on city. Linked up to Open Weather API. <br />
        Technologies: React, HTML5, CSS3, Node, Foundation. <br />
        <span class="resume-title">SKATE SPOTS </span> <br />
        App where users can upload and share their favorite spots to skateboard. <br />
        Technologies: Mongo DB, Express, Node, HTML5, CSS3, Bootstrap. <br />
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">Skills</span></td>
      <td>
        LANGUAGES: JavaScript, Ruby, C++, HTML5, CSS3. <br />
        DATABASE TOOLS: PostgreSQL, Mongo DB. <br />
        CLOUD SERVICES: Heroku, AWS. <br />
        FRAMEWORKS/LIBRARIES/TOOLS: React, Angular, Rails, Express, Mongoose, jQuery, Sass, Handlebars, Bootstrap, Foundation, RESTful API’s, Git, Github. <br />
        TESTING TOOLS: Mocha, Karma, Expect, Rspec. <br />
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">Education</span></td>
      <td>
        GENERAL ASSEMBLY: Certificate, Web Development (San Francisco, CA), Jun’ 16 – Sept’ 16 <br />
        DE ANZA COLLEGE: Classes towards A.S., Computer Science (Cupertino, CA), Jun’ 14 – Dec’ 16 <br />
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">Professional Experience</span></td>
      <td>
        <span class="resume-title">ASSISTANT SYSTEMS SPECIALIST: Genentech (Redwood City, CA), Aug’15 – Jun’16</span> <br />
        - Supported a network of over 20,000 Genentech and Roche employees. <br />
        - Identified & resolved over 20 hardware and software related issues daily. <br />
        - Utilized HPSM ticketing system to document issues and fixes. Frequently contributed fixes to internal database. <br />
        <p />
        <span class="resume-title">MANUFACTURING SUPERVISOR: Zazzle (San Jose, CA) Oct’ 11 – Aug’ 15</span> <br />
        - Led a team of 60 people to aggressively drive-down backlog orders from over 4,000 to less than 200 within a 1month period. <br />
        - Delivered training and guided lower-level staff through work processes. <br />
        - Leveraged several Raster Image Processing (RIP) softwares.</td>
    </tr>
  </table>
</div>
