<h1 class="header">Resume</h1>
<button><a href="public/documents/JamesdelaCruzResumeWorking.pdf" target="_blank">Click to download PDF version</a></button>
<div class="resume-container col-md-8 col-md-offset-2">
  <table class="resume-table">
    <tr class="resume-row">
      <span class="resume-title">James de la Cruz</span><br />
      Full Stack Web Developer <br />
      San Francisco Bay Area, CA <br />
      (408) 806 - 5618 - <a target="_blank" href="https://www.linkedin.com/in/jamesdelacruz"><i class="fa fa-linkedin" aria-hidden="true"></i>
       LinkedIn</a> - <a target="_blank" href="https://github.com/jamesdlc"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a> - <a href="mailto:james@jamesdlc.com?Subject=Hey%20James!" target="_top"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> E-mail</a><br />
    </tr>
    <tr class="resume-row">
      <td width="17%"><span class="resume-title">PROJECTS</span><br />(more at my GitHub)</td>
      <td width="83%"><span class="resume-title">RFP Hub</span> (Ruby on Rails, PostgreSQL, AWS), Sept’ 16 – present<br />
      Working on a development team to create a SaaS platform where users can collaboratively generate Request For Proposal documents. <br />
      - Implemented user authentication via bCrypt, authorization, and resource management (CRUD).<br />
      - Created Rspec testing suite. <br />
        <span class="resume-title">Sound Finder</span>    (Angular, Node, Bootstrap) <br />
          - Single Page Application. <br />
          - Search feature lets user find their favorite artist. <br />
          - Fetches recommendations based on user search from Spotify API. <br />
        <span class="resume-title">Who Would Win? </span>(RubyonRails, PostgreSQL, Bootstrap) <br />
          - Returns a simulated matchup between two teams based on previous scores. <br />
          - Custom-made discussion board that tracks users post count. <br />
          - Error handling rejects invalid form input. <br />
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">SKILLS</span></td>
      <td>
        JavaScript, Ruby, Ruby on Rails, C++, HTML5/CSS3, PostgreSQL, Mongo DB, Angular, Express, Mongoose, jQuery, Git, Mocha, Karma, Expect, Rspec.
      </td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">WORK</span></td>
      <td>
        <span class="resume-title">Assitant Systems Specialist: Genentech </span> (Redwood City, CA), Aug’15 – Jun’16<br />
        - Supported a network of over 20,000 Genentech and Roche employees. <br />
        - Identified & resolved over 20 hardware and software related issues daily. <br />
        - Utilized HPSM ticketing system to document issues and fixes. Frequently contributed fixes to internal database. <br />
        <span class="resume-title">Manufacturing Supervisor: Zazzle (San Jose, CA) </span>  Oct’ 11 – Aug’ 15<br />
        - Led a team of 60 people to aggressively drive down a 4,000+ order backlog to less than 200 within a 1month “peak” period. All products shipped matched or exceeded SLA’s and quality standards. <br />
        - Delivered training and guided lower-level staff through work processes. <br />
        - Leveraged several Raster Image Processing (RIP) softwares.</td>
    </tr>
    <tr class="resume-row">
      <td><span class="resume-title">EDUCATION</span></td>
      <td>
        <span class="resume-title">General Assembly (San Francisco, CA)</span> <br />
        Web Development Immersive, Jun’ 16 – Sept’ 16 <br />
        <span class="resume-title">De Anza College (Cupertino, CA) </span><br />
        Client-Side Programming with JavaScript, Sept’ 16 – Dec’ 16 <br />
        Intro to Data Communication and Networking, Jan’ 16 – Mar’ 16 PC Security Basics, Jul’ 15 – Sept’ 15 <br />
        Intro to UNIX/LINUX, Jul’ 15 – Sept’ 15 <br />
        C++ Intermediate Programming Methods, Apr’ 15 – Jun’ 15 <br />
        C++ Beginning Programming Methods, Jan’ 15 – Mar’ 15 <br />
        <span class="resume-title">Online </span><br />
        The Web Developer Bootcamp – Udemy, Dec’ 16 – Jan 16’ <br />
        The Complete React Web App Developer Course – Udemy, Jan 16’ <br />
      </td>
    </tr>

  </table>
</div>
