body {
  padding-top: 60px;
  text-align: center;
  color: gray;
  font-family: 'Open Sans';
  height: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-transform: uppercase;
  letter-spacing: .5rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

/*nav*/

#navbar-default-override {
  background-color: white;
  border-color: white;
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.nav-bar-item:hover {
  border-bottom: 2px solid gray;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

/*home*/

.home-bg{
  background: url(../public/images/adventuretime.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/*about page*/

.dlc {
  position: static;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 15px;
}

.about-text {
  text-align: left;
  font-size: 18px;
}

.skill-icon {
  padding: 10px;
}

/*application page*/

.app-image {
  height: 30%;
  width: 30%;
}

.app-image:hover {
  height: 32%;
  width: 32%;
}

.app-description {
  text-align: left;
  letter-spacing: .3rem;
}

.app-buttons {
  padding: 5px;
  text-transform: none;
  color: gray;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.contact-buttons {
  margin-top: 10%;
}

/*resume page*/

.resume-container {
  text-align: left;
}

.resume-row > td {
  padding-top: 20px;
}

.resume-title {
  font-weight: 700;
}

.resume-table {
  margin-bottom: 70px;
}

 td {
  vertical-align: top;
}
